$content-width: 100%;
$navbg-color: #34495e;
$left-content-width:25%;
$green: #2ecc71;
$gray: rgb(230,230,230);

*{
	margin:0;
	padding:0;
	font-family: 'Ubuntu', sans-serif;
}


.hidden_search{
	display:none;
}

#search_results{
	z-index:100;
	width:80%;
	background-color:white;
	li{
		display:block;
		height:32px;
		width:100%;
	}
	a{
		text-decoration:none;
		color:black;
		display:block;
		height:32px;
		line-height:32px;
		width:100%;
	}

	a:hover{
		background-color:$green;
	}
}

.notification{
	width:100%;
	height:32px;
	line-height:32px;
	background-color:$green;
	color:white;
	text-align:center;
	outline-color:black;
	outline-style:solid;
	outline-width:1px;

	.right{
		float:right;
	}

	button{
		height:32px;
		min-width:100px;
		color:white;
		text-decoration:none;
		background-color:black;
		outline:none;
		border:none;
		display:block;
	}

	button:hover{
		background-color:$gray;
		color:black;
		cursor:pointer;
	}
}

.content{
	width:$content-width;
	margin:auto;
}

.leftcontent{
	width:$left-content-width;
	float:left;
	position:fixed;
}

.rightcontent{
	width:100 - $left-content-width;
	float:right;
	padding-bottom:128px;
}

.navbar{
	width:100%;
	height:48px;
	line-height:48px;

	ul, li{
		display:inline;
		margin-left:10px;
		margin-right: 10px;
		position:relative;

		.navbtn{
			text-decoration: none;
			transition:.3s;
			font-size:14px;
		}

		.navbtn:hover{
			color:$green;
			transition:.3s;
			cursor:pointer;
			border-top-color:$green;
			border-top-width:4px;
			border-top-style:solid;
			padding-top:13px;
		}

		.flopbox{
			position:absolute;
			display:none;
			background-color:black;
			height:-100px;
			left:0;
			bottom:32px;
			font-size:12px;
			width:200px;

			ul, li{
				display:block;
				margin:0;

				.flopbtn{
					width:100%;
					height:24px;
					line-height:24px;
					color:white;
					display:block;
					transition:.3s;
					padding-left:4px;
					text-decoration:none;
				}

				.flopbtn:hover{
					background-color:$green;
					transition:.3s;
					cursor:pointer;
				}
			}
		}

		li:hover{
			.flopbox{
				display:block;
			}
		}
	}

	.left{
		float:left;
		position:relative;
	}

	.right{
		float:right;
		position:relative;
	}
}

.navbar-top{
	background-color:$gray;
	color:black;

	.navbtn{
		color:black;
	}
}

.navbar-bottom{
	position:fixed;
	bottom:0;
	left:0;
	background-color:black;
	color:white;

	.navbtn{
		color:white;
	}
}

.svg{
	width:32px;
	height:32px;
}

.navmenu{
	width:100%;
	height:100vh;
	background-color:$navbg-color;
	position:relative;
	left:0;
	top:0;

	ul{
		position:relative;

		.nobtn{
			padding-top:12px;
			padding-bottom:12px;
			padding-left:4px;
		}

		li{
			position:relative;

			.menubtn{
				display:block;
				width:100%;
				transition:.3s;
				font-size:14px;
				padding-top:12px;
				padding-bottom:12px;
				text-decoration: none;
				color:white;

				span{
					padding-left:4px;
					transition:.3s;
				}
			}

			.menubtn:hover{
				background-color:$green;
				cursor:pointer;
				transition:.3s;

				span{
					padding-left:12px;
					transition: .3s;
				}
			}
		}
	}
}

.squeezed{
	padding:12px;
}

.text{
	width:80%;
	padding-bottom:12px;
}

.center{
	margin:auto;
}

.intext{
	width:80%;
	height:32px;
	background-color:white;
	color:black;
	outline:none;
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-size:100%;
	padding-left:4px;
}

.inbigtext{
	width:80%;
	height:132px;
	font-size:100%;
	outline:none;
}

.inlargetext{
	width:80%;
	height:420px;
	font-size:100%;
	outline:none;
}

.struct{
	margin-top:12px;
	display:block;
}

.btn{
	height:32px;
	min-width:100px;
	padding-top:6px;
	padding-bottom:6px;
	outline:none;
	border:none;
	color:white;
	text-decoration:none;
	background-color:$navbg-color;
	transition:.3s;
}

.btn:hover{
	background-color:gray;
	cursor:pointer;
	transition:.3s;
}

.article{
	width:32%;
	height:250px;
	overflow:hidden;
	transition:.3s;
	color:black;
	text-decoration:none;
	display:block;
	padding-bottom:12px;
	padding-top:12px;
	margin-left:4px;
	float:left;
}

.article:hover{
	background-color:$green;
}

.table{
	width:100%;

	.table-head{
		height:48px;
	}

	.table-head:hover{
		background-color:white !important;
		color:black !important;
	}

	.alt{
		background-color:$gray;
	}

	tr{
		height:32px;
	}

	tr:hover{
		background-color:$green;
		color:white !important;
		a{
			color:white !important;
		}
	}
}

code{
	background-color:black;
	padding:24px;
	color:white;
	font-size:16px;
	display:block;
}

.comments-section{
	width:100%;
	background-color:$gray;
	min-height:250px;
}

.profile-image{
	width:250px;
	height:250px;
	background-color:$gray;
	background-size:cover;
	background-position:center;
}

.profile-header{
	width:100%;
	height:300px;
	border-bottom-style:solid;
	border-bottom-color:$gray;
	border-bottom-width:1px;
}

.profile-image-section{
	width:30%;
	float:left;
}

.profile-info-section{
	width:60%;
	float:left;
}

@media screen and (max-width: 700px) {
    .leftcontent{
    	width:100%;
    	float:right;
    	position:relative;
    }

    .rightcontent{
    	float:left;
    	width:100%;
    }

    .article{
    	width:100%;
    	margin:auto;
    	border-bottom-style:solid;
			border-bottom-color:black;
    }

		.profile-image-section, .profile-info-section{
			width:80%;
			float:none;
		}

		.profile-header{
			border:none;
		}
}
